parameters:
  level: 1
  reportUnmatchedIgnoredErrors: false
  customRulesetUsed: true
  checkMissingIterableValueType: false
  excludePaths:
    - *Test.php
    - *TestBase.php
  fileExtensions:
    - module
    - theme
    - profile
    - install
  ignoreErrors:
includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
